*{
    padding: 0;
    margin: 0;
}

html{
    background-color: #EEF5FF;
}

.main-form{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    width: 100%;
    height: 30vh;
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: center;
    background-image: url("assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar-button{
    border: 2px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    background: none;
}

.navbar-button-active{
    border: 2px;
    border-style: solid;
    border-color: #ffffff;
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.navbar-option-description{
    display: none;
}

.content-head-text{
    color: #09294E;
}

.content-text{
    color: #42414D;
    margin-bottom: 20px;
}

.content-textfield{
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.page-main-content{
    width: 90%;
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 15vh;
    border-radius: 10px;
}

.content-button{
    position: absolute;
    right: 2%; 
    top: 130%;
    padding: 10px;
    background-color: #04295D;
    color: #FFFFFF;
    font-weight: bold; 
    cursor: pointer;
}

.submit-button{
    background-color: #473DFE;
}

.content-button-prev{
    position: absolute;
    left: 2%; 
    top: 135%;
    padding: 10px;
    background: none; 
    border: 0px;
    color: #04295D;
    font-weight: bold; 
    cursor: pointer;
}

.billing-type-selector-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #022859;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #022859;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #022859;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  .non-selected-bill-type{
    color: #42414D;
    font-weight: bold;
  }

  .selected-bill-type{
    color: #022859;
    font-weight: bold;
  }

  #billing-card-holder{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#addons-card-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.add-on-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
}

.add-on-card-main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-on-card-description{
    margin-left: 10px;
}

.selected-card{
    background-color: #F8F9FE;
    border: 1px solid #473DFE;
    border-radius: 5px;
}

.plan-card{
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.plan-card-details{
    margin-left: 10px;
}

.plan-card-image{
    width: 40px;
    height: 40px;
}

.blueText{
    color: #022859;
}

.greyText{
    color: #42414D;
}

@media screen and (min-width: 700px){
    html{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .main-form{
        width: 70vw;
        height: 80vh;
        display: flex;
        flex-direction: row;
    }

    .navbar{
        width: 30%;
        height: 100%;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("assets/images/bg-sidebar-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navbar-button{
        margin-bottom: 10px;
    }
    
    .navbar-button-active{
        margin-bottom: 10px;
    }

    .navbar-option-description{
        display: flex;
        flex-direction: column;
    }

    .navbar-option-description-title{
        color: #A6A6A6;
        font-weight: bold;
    }

    .navbar-option-description-text{
        color: #FFFFFF;
        font-weight: bold;
    }

    .nav-item{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .content{
        background-color: #FFFFFF;
    }

    .page-main-content{
        padding: 10px;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position:inherit;
    }

    .content-button{
        right: 18%; 
        top: 80%;
    }

    .content-button-prev{
        left: 38%; 
        top: 80%;
    }

    #billing-card-holder{
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .plan-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
    }

    .plan-card-details{
        margin-left: 0;
    }

    .plan-card-image{
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
}